body {
  background-color: white;
  overflow: hidden;
}

.container{
  padding-top: 100px;
}

.text {
    font-family: verdana;
    color: steelblue;
}

p {
    font-weight: bold;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 200px;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom-right-radius: 40px 40px;
  z-index: -500;
}

#help{
  cursor: pointer;
  transition-duration: 0.2s;
  float: right;
  background-color: white;
  border: none;
  width: 120px;
  color: black;
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.4);
}

#help:hover{
  color: white;
  background-color: black;
  border-color: red;
}

#help:active{
  box-shadow: 1px 2px rgba(0, 0, 0, 0.8);
  transform: translateY(3px)
}

#help:focus{
  outline: 0;
}

.background{
  overflow: hidden;
  background-color: black;
  width: 2100px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}

.bgimg{
  filter: brightness(30%);
  width: 150px;
  height: 150px;
  object-fit: cover;
  right: 0;
  margin: 0;
  padding: 0;
}

#blackload{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 500
}

#loading svg{
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 250px);
  width: 500px;
  height: 600px;
  z-index: 1000
}
